
body {
  background-image: url("../imgs/vintage-wallpaper.png");
}

html {
  position: relative;
  min-height: 100%;
  width:100%;
}

main {
  margin: 80px 0;
}

.block {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.block-header {
  color: #d39e00;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;
}

#logo {
  font-family: 'Abril Fatface', cursive;
  font-size: 24px;
  font-weight: bold;
  color: #d39e00;
}

.navbar-default .navbar-nav > li > a:hover {
  color:#d39e00;
}

.navbar {
  background: white;
  border: none;
}

@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #d39e00;
  }
}

.connect-header {
  font-size: 25px;
}

.connect-photo {
  width: 55px;
  height: 55px;
}

#images {
  padding-top: 15px;
  text-align: center;
  border-radius: 15px;
}

#CVbutton {
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
  background-color: #d39e00;
  border: 0;
}

.footer {
  position:absolute;
  bottom: 0;
  height: 60px;
  background-color: #fff;
  width:100%; 
}

.text-muted-footer {

  margin-top: 15px;
  color: #fff;
}

.two-toned-footer-color {
  height: 6px;
  padding-top: 3px;
  background-color:#d39e00;
}

.about-me-header {
  margin-bottom: 33px;
  font-family: 'Abril Fatface', cursive;
  font-size: 32px;
  font-weight: bold;
  color: #d39e00;
}

#about-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 200px;
  margin: 0 20px 10px 0;
  border-radius: 10px;
}
/* END ABOUT-ME PAGE */


/* PORTFOLIO PAGE */
.port-image {
  margin: 20px auto;
}

/* END PORTFOLIO PAGE */


/* CONTACT FORM PAGE  */
.form-control {
  /* give input boxes right angles */
  border-radius: 0;

  /* keep from horizontally resizing text area */
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  /* Box-model */
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;
  border-radius: 10px;

  /* Typography */
  color: #fff;

  /* Visual */
  background-color:#d39e00;
  border: 0;
}

.submit-btn:hover {
  opacity: .7;
}

/* END CONTACT FORM PAGE */

#myPortfolio{
  font-family: 'Abril Fatface', cursive;
  font-size: 32px;
  font-weight: bold;
  color: #d39e00;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
  
}

